<!-- <scl-context-menu>
    <button type="button" nbButton ghost status="basic">
        <nb-user size="medium" [name]="name" [title]="userType"></nb-user>
    </button>
    <scl-context-menu-content>
        <scl-context-menu-list>
            <button type="button" nbButton ghost sclContextMenuItem (click)="logOut()">Logout</button>
        </scl-context-menu-list>
    </scl-context-menu-content>
</scl-context-menu>

<scl-button-group>
    <button type="button" nbButton ghost status="basic" size="small" class="xpa-action__notification"
        (click)="showNotifications()">
        <nb-icon icon="bell" pack="xpas-shell"></nb-icon>
        <nb-badge *ngIf="showBadge" [text]=badgeText status="danger" position="top start"></nb-badge>
    </button>
</scl-button-group> -->