@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


.ql-toolbar.ql-snow {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: color-get(border);
}

.ql-container.ql-snow {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: color-get(border);
    height: 250px;
}

quill-editor:hover {

    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
        border-color: color-get(border, 600)
    }
}

.ql-container {
    color: color-get(text-dark);
}

.quill-editor {
    .ql-container.ql-snow {
        height: 250px;
    }
}

.custom-button {
    background-color: #ccc;
    color: #fff;
    /* Add other styling properties as needed */
}

// .ql-formats {
//     background-color: #ccc;
//     color: #fff;
//     border:1px solid black
//     /* Add other styling properties as needed */
//   }

.ql-formats>ql-custom-button {
    // background-color: red;
    color: red;
    border: 1px solid black
        /* Add other styling properties as needed */
}


.custom-button:hover {
    background-color: #aaa;
}
.ql-toolbar .ql-custom-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
  }