<form class="form" [formGroup]="resetPasswordForm">
    <nb-card>
        <nb-card-body>
            <div class="dialog-box">
                <div class="dialog-box__header">
                    <div class="dialog-box__close" (click)="cancel()">
                        <nb-icon icon="cross" pack="icons"></nb-icon>
                    </div>
                </div>

                <div class="dialog-box__body">
                    <h2 class="dialog-box__heading">{{resetPasswordData.title}}</h2>
                    <p class="dialog-box__description">
                        {{resetPasswordData.headerMessage}}
                    </p>
                    <div class="dialog-box__form-group">
                        <scl-form-field errorMessage>
                            <label for="password" sclLabel>New Password</label>
                            <input type="Password" nbInput fullWidth id="password" placeholder="New Password" fieldSize="large"
                                formControlName="newPassword" name="Password">
                            <scl-form-message></scl-form-message>
                        </scl-form-field>
                        <scl-form-field errorMessage>
                            <label for="password" sclLabel>Confirm Password</label>
                            <input type="Password" nbInput fullWidth id="password" placeholder="Confirm Password" fieldSize="large"
                                formControlName="confirmPassword" name="Confirm Password">
                            <scl-form-message></scl-form-message>
                        </scl-form-field>
                    </div>
                </div>

                <div class="button-group button-group--align-center">
                    <scl-button-group>
                        <button nbButton size="small" class="dialog-box__description"
                            status="primary" (click)="onSubmit()">
                            {{ resetPasswordData.eventType }}
                        </button>

                        <button type="button" nbButton outline   (click)="cancel()">Cancel</button>

                    </scl-button-group>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</form>