@use '@nebular/theme/styles/theming' as *;

$nb-themes: nb-register-theme((
            card-background-color: color-base-white,
            card-border-color: color-basic-300,
            card-border-radius: 0.375rem,
            card-padding: 1rem 1.25rem,
        ),
        default,
        default);