<xpas-page-container [contentType]="contentType">
    <xpas-page-header heading="KYC"></xpas-page-header>
    <xpas-form-container>
        <form [formGroup]="adminKycForm" (validateAndSubmit)="create($event)">

            <scl-form-field errorMessage>
                <label for="name" sclLabel> Name</label>
                <input type="text" nbInput fullWidth id="name" placeholder="Enter Name" formControlName="name"
                    name="Name">
                <scl-form-message></scl-form-message>
            </scl-form-field>

            <scl-form-field errorMessage>
                <label for="email" sclLabel>Email Address</label>
                <input type="text" nbInput fullWidth id="email" placeholder="Enter Email Address"
                    formControlName="emailAddress" name="Email">
                <scl-form-message></scl-form-message>
            </scl-form-field>

            <scl-form-field errorMessage>
                <label for="mobileNumber" sclLabel>Mobile Number</label>
                <input type="text" nbInput fullWidth id="mobileNumber" placeholder="Enter Mobile Number"
                    formControlName="mobileNumber" name="Mobile Number">
                <scl-form-message></scl-form-message>
            </scl-form-field>

            <scl-form-field errorMessage>
                <label for="addressOne" sclLabel>Address 1</label>
                <input type="text" nbInput fullWidth id="addressOne" placeholder="Enter Address"
                    formControlName="addressOne" name="Address 1">
                <scl-form-message></scl-form-message>
            </scl-form-field>

            <scl-form-field errorMessage>
                <label for="addresstwo" sclLabel>Address 2(Optional)</label>
                <input type="text" nbInput fullWidth id="addressTwo" placeholder="Enter Address"
                    formControlName="addressTwo" name="Address 2">
                <scl-form-message></scl-form-message>
            </scl-form-field>

            <scl-button-group>
                <button type="submit" nbButton status="primary">Create</button>
                <button type="reset" nbButton outline (click)="reset()">Reset</button>
            </scl-button-group>
        </form>
    </xpas-form-container>

    <xpas-page-container-info heading="Admin created successfully" type="success">
        You have successfully created an account for user. A link to create password has been sent to their email.
        <scl-button-group>
            <!-- <button type="button" nbButton status="primary" (click)="createNewUser()">
                Create Another User
            </button> -->
            <!-- <button type="button" nbButton outline (click)="viewDetail(adminDetail.eid)">
                View Details
            </button> -->
        </scl-button-group>
    </xpas-page-container-info>
</xpas-page-container>