@use '@nebular/theme/styles/theming' as *;

.scl-side-drawer {
    background-color: nb-theme(scl-side-drawer-background-color);
    width: nb-theme(scl-side-drawer-width);
    min-height: nb-theme(scl-side-drawer-min-height);
    padding: nb-theme(scl-side-drawer-padding);
    overflow-y: auto;

    &__content {
        width: nb-theme(scl-side-drawer-content-width);
    }
}

body.scl-side-drawer-open {
    overflow: hidden;
    height: 100vh;
}