<form class="form" [formGroup]="resetPasswordForm">
    <nb-card>
        <nb-card-body>
            <div class="dialog-box">
                <div class="dialog-box__header">
                    <div class="dialog-box__close" (click)="cancel()">
                        <nb-icon icon="cross" pack="icons"></nb-icon>
                    </div>
                </div>

                <div class="dialog-box__body">
                    <h2 class="dialog-box__heading">{{resetPasswordData.title}}</h2>
                    <p class="dialog-box__description">
                        {{resetPasswordData.headerMessage}}
                    </p>

                    <nb-toggle (checkedChange)="valueChange($event)">Temporary Password<br>
                        <span sclToggleDescription> Enabling this option will send a password to the user and
                            enable them to change it to a different password.
                        </span>
                    </nb-toggle>

                    <div class="dialog-box__form-group">
                        <scl-form-field *ngIf="resetPasswordForm.get('password')?.enabled" errorMessage>
                            <label for="password" sclLabel>Password</label>
                            <input type="Password" nbInput fullWidth id="password" placeholder="Password"
                                fieldSize="large" formControlName="password" name="Password">
                            <scl-form-message></scl-form-message>
                        </scl-form-field>
                    </div>
                </div>

                <div class="button-group button-group--align-center">
                    <scl-button-group>
                        <button nbButton size="small" class="dialog-box__description" status="primary"
                            (click)="onSubmit()">
                            {{ resetPasswordData.eventType }}
                        </button>

                        <button type="button" nbButton outline buttonGroupButton (click)="cancel()">Cancel</button>

                    </scl-button-group>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</form>