@use "@nebular/theme/styles/theming" as *;

$nb-themes: nb-register-theme(
    (
        button-gap: 0.5rem,

        // common
        text-button-font-weight: 500,
        button-text-font-weight: 500,
        button-rectangle-border-radius: 0.375rem,
        
        // Tiny
        button-tiny-icon-offset: 0,
        icon-button-tiny-padding: 0.25rem,
        icon-button-filled-tiny-padding: icon-button-tiny-padding,
        icon-button-ghost-tiny-padding: icon-button-tiny-padding,
        icon-button-outline-tiny-padding: icon-button-tiny-padding,
        
        // Small
        button-small-icon-offset: 0,
        button-small-icon-size: 1rem,
        
        button-small-padding: 0.5rem 0.75rem,
        button-filled-small-padding: button-small-padding,
        button-ghost-small-padding: button-small-padding,
        button-outline-small-padding: button-small-padding,
        
        icon-button-small-padding: .5rem,
        icon-button-filled-small-padding: icon-button-small-padding,
        icon-button-ghost-small-padding: icon-button-small-padding,
        icon-button-outline-small-padding: icon-button-small-padding,
        
        // Medium
        button-medium-icon-offset: 0,
        button-medium-icon-size: 1.25rem,
        text-button-medium-line-height: 1.43,
        text-button-medium-font-size: 0.875rem,

        button-medium-padding: 0.625rem 1rem,
        button-filled-medium-padding: button-medium-padding,
        button-ghost-medium-padding: button-medium-padding,
        button-outline-medium-padding: button-medium-padding,
        
        icon-button-medium-padding: .625rem,
        icon-button-filled-medium-padding: icon-button-medium-padding,
        icon-button-ghost-medium-padding: icon-button-medium-padding,
        icon-button-outline-medium-padding: icon-button-medium-padding,
   
        // Large
        button-large-padding: 0.875rem 1.25rem,
        button-filled-large-padding: button-large-padding,
        button-ghost-large-padding: button-large-padding,
        button-outline-large-padding: button-large-padding,

        icon-button-large-padding: 1rem,
        icon-button-filled-large-padding: icon-button-large-padding,
        icon-button-ghost-large-padding: icon-button-large-padding,
        icon-button-outline-large-padding: icon-button-large-padding,

        // filled

        button-filled-text-transform: capitalize,

        // Outline
        button-outline-text-transform: capitalize,
        button-outline-color: color-basic-200,
        button-outline-width: 0.25rem,
        button-outline-sttyle: solid,
        button-outline-transparent: color-base-transparent,

        // ghost
        button-ghost-text-transform: capitalize,
        button-ghost-background-color: color-base-transparent,

        // Button Basic

        // basic outline
        button-outline-basic-border-color: color-basic-300,
        button-outline-basic-text-color: color-basic-600,
        
        button-outline-basic-hover-text-color: color-basic-700,
        button-outline-basic-hover-border-color: color-basic-300,

        button-outline-basic-active-border-color: color-basic-300,

        button-outline-basic-focus-background-color: button-outline-basic-background-color,
        button-outline-basic-focus-color: color-basic-200,
        button-outline-basic-focus-border-color: color-base-transparent,

        button-outline-focus-inset-shadow-length: (0, 0, 0, 50vmax,),

        button-outline-basic-disabled-background-color: color-control-default,
        button-outline-basic-disabled-border-color: color-basic-300,
        button-outline-basic-disabled-text-color: color-basic-300,

        // Basic ghost
        button-ghost-basic-text-color: color-basic-600,

        button-ghost-basic-hover-background-color: color-basic-100,
        button-ghost-basic-hover-border-color: color-basic-100,
        button-ghost-basic-hover-text-color: color-basic-700,

        button-ghost-basic-active-background-color: color-basic-200,
        button-ghost-basic-active-border-color: color-basic-200,
        button-ghost-basic-active-text-color: color-basic-800,

        button-ghost-focus-inset-shadow-length: (0, 0, 0, 50vmax),
        button-ghost-basic-focus-background-color: color-control-default,
        button-ghost-basic-focus-border-color: color-basic-200,

        // Button Primary
        button-ghost-basic-disabled-background-color: color-base-transparent,
        button-ghost-basic-disabled-text-color: color-basic-400,

        // Primary Fill
        // button primary
        // primary fill
        button-filled-primary-background-color: color-primary-500,
        button-filled-primary-border-color: color-primary-500,

        button-filled-primary-hover-background-color: color-primary-600,

        button-filled-primary-disabled-background-color: color-primary-200,
        button-filled-primary-disabled-text-color: color-control-default,

        // Primary Outline
        button-outline-primary-background-color: color-base-transparent,
        button-outline-primary-text-color: color-primary-600,

        button-outline-primary-hover-background-color: color-primary-50,
        button-outline-primary-hover-border-color: color-primary-300,
        button-outline-primary-hover-text-color: color-primary-700,

        button-outline-primary-active-background-color: color-primary-100,
        button-outline-primary-active-border-color: color-primary-300,
        button-outline-primary-active-text-color: color-primary-800,

        button-outline-primary-focus-background-color: color-control-default,
        button-outline-primary-focus-border-color: color-base-transparent,
        button-outline-focus-color: color-primary-100,
        button-outline-primary-focus-text-color: color-primary-600,

        button-outline-primary-disabled-background-color: color-control-default,
        button-outline-primary-disabled-border-color: color-primary-400,
        button-outline-primary-disabled-text-color: color-primary-400,


        // primary ghost
        button-ghost-primary-text-color: color-primary-600,

        button-ghost-primary-hover-background-color: color-primary-50,
        button-ghost-primary-hover-text-color: color-primary-700,

        button-ghost-primary-active-background-color: color-primary-100,
        button-ghost-primary-active-text-color: color-primary-800,

        button-ghost-primary-focus-background-color: color-control-default,
        button-ghost-primary-focus-text-color: color-primary-600,

        button-ghost-primary-disabled-background-color: color-control-default,
        button-ghost-primary-disabled-text-color: color-primary-300,

        //button-danger

        // danger fill
        button-filled-danger-hover-background-color: color-danger-600,
        button-filled-danger-active-background-color: color-danger-700,
        button-filled-danger-focus-background-color: color-danger-500,
        button-filled-danger-focus-border-color: button-outline-width button-outline-syle color-danger-100,
        button-filled-danger-disabled-background-color: color-danger-200,

        // Danger Outline
        button-outline-danger-background-color: color-base-transparent,
        button-outline-danger-border-color: color-danger-300,
        button-outline-danger-text-color: color-danger-600,

        button-outline-danger-hover-background-color: color-danger-50,
        button-outline-danger-hover-border-color: color-danger-300,
        button-outline-danger-hover-text-color: color-danger-700,

        button-outline-danger-active-background-color: color-danger-100,
        button-outline-danger-active-border-color: color-danger-300,
        button-outline-danger-active-text-color: color-danger-800,

        button-outline-danger-focus-background-color: color-control-default,
        button-outline-danger-focus-border-color: color-base-transparent,
        button-outline-danger-focus-text-color: color-danger-700,
        button-outline-danger-focus-color: color-danger-200,

        button-outline-danger-disabled-background-color: color-control-default,
        button-outline-danger-disabled-border-color: color-danger-300,
        button-outline-danger-disabled-text-color: color-danger-300,

        // Danger Ghost
        button-ghost-danger-text-color: color-danger-600,
        button-ghost-danger-hover-background-color: color-danger-50,
        button-ghost-danger-hover-text-color: color-danger-700,

        button-ghost-danger-active-background-color: color-danger-100,
        button-ghost-danger-active-text-color: color-danger-800,

        button-ghost-danger-focus-background-color: color-control-default,
        button-ghost-danger-disabled-background-color: color-control-default,
        button-ghost-danger-disabled-text-color: color-danger-300,

        // Button Info

        // Info Outline
        button-outline-info-background-color: color-base-transparent,
        button-outline-info-border-color: color-info-300,
        button-outline-info-text-color: color-info-700,

        button-outline-info-focus-background-color: color-base-white,
        button-outline-info-focus-border-color: color-info-100,
        button-outline-info-focus-text-color: color-info-700,

        button-outline-info-hover-background-color: color-info-50,
        button-outline-info-hover-border-color: color-info-300,
        button-outline-info-hover-text-color: color-info-800,

        button-outline-info-active-background-color: color-info-100,
        button-outline-info-active-border-color: color-info-300,
        button-outline-info-active-text-color: color-info-900,

        button-outline-info-disabled-background-color: color-base-white,
        button-outline-info-disabled-border-color: color-info-300,
        button-outline-info-disabled-text-color: color-info-300,

        // Info Ghost
        button-ghost-info-text-color: color-info-700,

        button-ghost-info-focus-background-color: color-base-transparent,
        button-ghost-info-focus-border-color: color-info-100,
        button-ghost-info-focus-text-color: color-info-700,

        button-ghost-info-hover-background-color: color-info-100,
        button-ghost-info-hover-border-color: color-base-transparent,
        button-ghost-info-hover-text-color: color-info-800,

        button-ghost-info-active-background-color: color-info-200,
        button-ghost-info-active-border-color: color-base-transparent,
        button-ghost-info-active-text-color: color-info-900,

        button-ghost-info-disabled-background-color: color-base-transparent,
        button-ghost-info-disabled-border-color: color-base-transparent,
        button-ghost-info-disabled-text-color: color-info-300,

        // Button Success

        // Success Outline
        button-outline-success-background-color: color-base-transparent,
        button-outline-success-border-color: color-success-300,
        button-outline-success-text-color: color-success-700,

        button-outline-success-focus-background-color: color-base-white,
        button-outline-success-focus-border-color: color-success-100,
        button-outline-success-focus-text-color: color-success-800,

        button-outline-success-hover-background-color: color-success-50,
        button-outline-success-hover-border-color: color-success-100,
        button-outline-success-hover-text-color: color-success-800,

        button-outline-success-active-background-color: color-success-100,
        button-outline-success-active-border-color: color-success-300,
        button-outline-success-active-text-color: color-success-900,

        button-outline-success-disabled-background-color: color-success-400,
        button-outline-success-disabled-border-color: color-success-300,
        button-outline-success-disabled-text-color: color-success-300,

        // Success Ghost
        button-ghost-success-text-color: color-success-700,

        button-ghost-success-focus-background-color: color-base-transparent,
        button-ghost-success-focus-border-color: color-success-100,
        button-ghost-success-focus-text-color: color-success-700,

        button-ghost-success-hover-background-color: color-success-100,
        button-ghost-success-hover-border-color: color-base-transparent,
        button-ghost-success-hover-text-color: color-success-800,

        button-ghost-success-active-background-color: color-success-200,
        button-ghost-success-active-border-color: color-base-transparent,
        button-ghost-success-active-text-color: color-success-900,

        button-ghost-success-disabled-background-color: color-base-transparent,
        button-ghost-success-disabled-border-color: color-base-transparent,
        button-ghost-success-disabled-text-color: color-success-300,

        // Button Warning 

        // Warning Outline
        button-outline-warning-background-color: color-base-transparent,
        button-outline-warning-border-color: color-warning-300,
        button-outline-warning-text-color: color-warning-700,

        button-outline-warning-focus-background-color: color-base-white,
        button-outline-warning-focus-border-color: color-warning-100,
        button-outline-warning-focus-text-color: color-warning-800,

        button-outline-warning-hover-background-color: color-warning-50,
        button-outline-warning-hover-border-color: color-warning-100,
        button-outline-warning-hover-text-color: color-warning-800,

        button-outline-warning-active-background-color: color-warning-100,
        button-outline-warning-active-border-color: color-warning-300,
        button-outline-warning-active-text-color: color-warning-900,

        button-outline-warning-disabled-background-color: color-warning-400,
        button-outline-warning-disabled-border-color: color-warning-300,
        button-outline-warning-disabled-text-color: color-warning-300,

        // Warning Ghost
        button-ghost-warning-text-color: color-warning-700,

        button-ghost-warning-focus-background-color: color-base-transparent,
        button-ghost-warning-focus-border-color: color-warning-100,
        button-ghost-warning-focus-text-color: color-warning-700,

        button-ghost-warning-hover-background-color: color-warning-100,
        button-ghost-warning-hover-border-color: color-base-transparent,
        button-ghost-warning-hover-text-color: color-warning-800,

        button-ghost-warning-active-background-color: color-warning-200,
        button-ghost-warning-active-border-color: color-base-transparent,
        button-ghost-warning-active-text-color: color-warning-900,

        button-ghost-warning-disabled-background-color: color-base-transparent,
        button-ghost-warning-disabled-border-color: color-base-transparent,
        button-ghost-warning-disabled-text-color: color-warning-300,
    ),
    default,
    default
);
