@use "@nebular/theme/styles/theming" as *;
.xpas-account-card-header {
    display: flex;

    &__details {
        flex-grow: 1;
        display: grid;
        gap: nb-theme(xpas-account-card-header-gap);
    }

    &__type {
        color: nb-theme(xpas-account-card-header-detail-color);
    }

    &__name {
        color: nb-theme(xpas-account-card-header-detail-color);
    }

    &__account-number {
        color: nb-theme(xpas-account-card-header-color);
    }
}
